@import "./breakpoints";

@mixin media-breakpoint($size) {
    @if $size == 'screen-xs' {
        @media only screen and (min-width: #{$screen-xs}) {
            @content;
        }
    } @else if $size == 'screen-sm' {
        @media only screen and (min-width: #{$screen-sm}) {
            @content;
        }
    } @else if $size == 'screen-md' {
        @media only screen and (min-width: #{$screen-md}) {
            @content;
        }
    } @else if $size == 'screen-lg' {
        @media only screen and (min-width: #{$screen-lg}) {
            @content;
        }
    } @else if $size == 'screen-xl' {
        @media only screen and (min-width: #{$screen-xl}) {
            @content;
        }
    }
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    column-gap: 4px;
}