@import "../../../styles/main";

.booklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    @include media-breakpoint(screen-md) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint(screen-lg) {
        grid-template-columns: repeat(4, 1fr);
    }

    .list-item {
        margin-bottom: 20px;

        .book-card {
           &__details {
            padding: 10px 0px;
            display: flex;
            flex-direction: column;
            gap: 4px;

            &--button {
                display: flex;
                width: 180px;
                justify-content: center;
                padding: 6px 0px;
                text-transform: uppercase;
            }
           }
        }
    }
}